@model IEnumerable<IntexProject.Models.Catalog>

@{
    ViewBag.Title = "Catalog";
}


@*<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index")</li>
    <li class="breadcrumb-item active">Catalog</li>
</ol>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.assayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.materialName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.assayID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.assayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.materialID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.materialName)
        </td>

    </tr>
}

</table>
