@model IEnumerable<IntexProject.Models.Orders>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("New Work Order", "WorkOrder", "Home", new { @class = "btn btn-primary btn-md" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numberSamples)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numberSamples)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateArrived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusDescription)
        </td>

    </tr>
}

</table>
